:root {
  --main-color: #434455;
  --main-title-color: #2e2f42;
  --accent-hoverfa-color: #404bbf;
  --phon-white-color: #ffffff;
  --ocean-color: #4d5ae5;
  --phon-special-color: #f4f4fd;
  --additional-color: #e7e9fc;
  --icon-fill-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

.start, /*SECTION2 */
.content,/*SECTION3*/
.clients,/*SECTION5*/
.section-portfolio {
  background-color: var(--phon-white-color);
}
/* =======================HEADER====================== */
.top-header {
  border-bottom: 1px solid var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .main-header {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .top-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header-container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container-desctop {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-container-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-container-desctop {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-container-desctop {
    display: flex;
    align-items: center;
  }
}
.logo-span {
  color: var(--ocean-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
/*================= MOBILE MENU=================== */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--phon-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.iconhamburger {
  stroke: black;
  width: 32px;
  height: 22px;
}
.hamburger-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    position: relative;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
  }
}

.close-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  max-width: 24px;
  max-height: 24px;
  height: 100%;
  width: 100%;
  background-color: var(--additional-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-mobile:hover,
.close-mobile:focus {
  background-color: var(--accent-hoverfa-color);
  fill: var(--additional-color);
  box-shadow: none;
}

/*============ NAVIGATION ==============*/
@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1190px) {
  .navigation {
    margin-right: 90px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.menu-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-nav {
    font-size: 16px;
    line-height: 24px;
  }
}
.menu-nav:hover,
.menu-nav:focus {
  color: var(--accent-hoverfa-color);
}
@media screen and (min-width: 768px) {
  .studio-after::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }
  .studio-after {
    position: relative;
    padding-bottom: 20px;
    color: var(--accent-hoverfa-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .studio-after {
    padding-bottom: 25px;
  }
}
/*=================================ADDRESS============================== */
@media screen and (max-width: 767px) {
  .address-content > .contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    gap: 40px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-content {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-content {
    margin-left: 332px;
  }
}

.mail {
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .mail {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

.phone-number {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  color: var(--ocean-color);
}
@media screen and (min-width: 768px) {
  .phone-number {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--main-color);
  }
}

.address:active {
  color: var(--accent-hoverfa-color);
}
.address {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--accent-hoverfa-color);
}
/* ================SECTION1================ */
@media screen and (max-width: 428px) {
  .hero-background {
    background-color: var(--main-title-color);
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-mobile.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (max-width: 428px) {
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 428px),
    screen and (min-resolution: 190dpi) and (max-width: 428px),
    screen and (min-resolution: 2dppx) and (max-width: 428px) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero-background {
    background-color: var(--main-title-color);
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 768px),
    screen and (min-resolution: 190dpi) and (min-width: 429px) and (max-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 429px) and (max-width: 768px) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 769px) {
  .hero-background {
    background-color: var(--main-title-color);
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-desctop.jpg);
    background-size: cover;
    background-position: center 70%;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media screen and (min-width: 769px) {
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
    screen and (min-resolution: 190dpi) and (min-width: 769px),
    screen and (min-resolution: 2dppx) and (min-width: 769px) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-desctop@2x.jpg);
    }
  }
}

.hero {
  width: 100%;
  max-width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--phon-white-color);
  margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    width: 100%;
    margin: 0 auto 36px;
  }
}
/*================= MODAL================ */
.modal-btn {
  background-color: var(--ocean-color);
  border: 1px var(--ocean-color);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  width: 169px;
  transition-property: background-color, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-hoverfa-color);
  opacity: 0.8;
}

.modal-btn:active {
  color: var(--accent-hoverfa-color);
}
.modal-text:active {
  color: var(--phon-white-color);
}
.modal-text {
  font-family: inherit;
  font-weight: 500;
  color: var(--phon-white-color);
  background: var(--ocean-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
  overflow: scroll;
}

.modal-close-window {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 357px;
  top: 24px;
  max-width: 24px;
  max-height: 24px;
  height: 100%;
  width: 100%;
  background-color: var(--additional-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-property: background-color, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-window:hover,
.modal-close-window:focus {
  background-color: var(--accent-hoverfa-color);
  fill: var(--phon-white-color);
  box-shadow: none;
}

.iconbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-window {
  position: absolute;
  top: 10%;
  left: 50%;
  max-width: 95%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  transform: translate(-50%);
}
@media screen and (max-width: 767px) {
  .moda-window {
    max-width: 408px;
    width: 100%;
  }
}

.modal-window:hover {
  animation-name: magicbackcolor;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}
@keyframes magicbackcolor {
  0% {
    background-color: var(--phon-white-color);
  }
  50% {
    background-color: #31d0aa;
  }
  100% {
    background-color: var(--phon-white-color);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}
/* ================================FORM MODAL======================================  */
.paragraph-form {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 360px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 767px) {
  .form {
    max-width: 360px;
    width: 100%;
  }
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-fill-color);
  margin-bottom: 4px;
  flex-basis: 100%;
}
.form-labels {
  letter-spacing: 0.01em;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 34px;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-hoverfa-color);
  outline: none;
}

.form-textarea {
  height: 120px;
  width: 360px;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-hoverfa-color);
  outline: none;
}
.span-input-svg {
  position: relative;
  margin-bottom: 8px;
  width: 100%;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--main-title-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.span-input-svg:hover .form-icon,
.span-input-svg:focus-within .form-icon {
  fill: var(--accent-hoverfa-color);
}

.container-checkbox {
  display: flex;
  align-items: center;
  width: 360px;
  height: 16px;
}
.span-check {
  display: flex;
  border: 1.25px solid var(--main-title-color);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.input-checkbox:checked + .span-check {
  background-image: url(../images/vector.svg);
  background-size: contain;
  border: none;
}
.agreement-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}
.link-form {
  color: var(--ocean-color);
  margin-left: 5px;
}
.button-submit-form {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 32px 16px 32px;
  width: 169px;
}

/* =================SECTION2================ */

.start-paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-title-color);
}
.start-paragraph {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  color: var(--main-title-color);
}
@media screen and (max-width: 1199px) {
  .start {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}
@media screen and (max-width: 767px) {
  .start-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .start-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .start-paragraph-text {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-start-container {
    display: flex;
  }
  .start-item {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .start-paragraph-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 356px;
  }
}
.decorative-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .decorative-container {
    display: block;
    text-align: center;
    background-color: var(--phon-special-color);
    padding: 24px 100px;
  }
}
@media screen and (min-width: 1200px) {
  .start {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .start-paragraph-text {
    width: 264px;
    display: flex;
    flex-wrap: wrap;
  }
  .start-paragraph {
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-title-color);
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .start-text {
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .page-start-container {
    display: flex;
  }
  .start-item {
    display: flex;
    gap: 24px;
  }
  .start-paragraph {
    margin-bottom: 8px;
  }
}

/*============ SECTIO3 ==============*/
.content {
  display: none;
}
@media screen and (min-width: 1200px) {
  .content {
    display: block;
  }
  .content {
    padding-bottom: 120px;
  }
  .content-container-item {
    display: flex;
    justify-content: center;
  }
  .content-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
  .subject {
    text-align: center;
    margin-bottom: 72px;
  }
  .subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }
  .content-pic {
    background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    );
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--additional-color);
  }
}

/* =================== SECTION4 ===============*/
.aside {
  background-color: var(--phon-special-color);
}
@media screen and (max-width: 1199px) {
  .aside {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}

.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .aside {
    padding-bottom: 110px;
    padding-top: 110px;
  }
}

.subject {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-title-color);
  margin-top: 0;
  margin-bottom: 72px;
}
.aside-container-item {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .aside-container-item {
    row-gap: 75px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .aside-container-item {
    flex-wrap: nowrap;
  }
}
.aside-item {
  display: flex;
  flex-direction: column;
  background-color: var(--phon-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.container-subtitle-aside {
  padding: 32px 16px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
  margin-bottom: 8px;
  text-align: center;
}

.aside-desc {
  text-align: center;
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 8px;
  margin-top: 0;
}

/* ========ICONSSOCIAL ============*/
@media screen and (max-width: 767px) {
  .mobile-socials-list {
    display: flex;
    gap: 56px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--ocean-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--phon-special-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-hoverfa-color);
}
/* ================== SECTION5 =====================*/
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
.clients-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 72px;
  margin-top: 0;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients-list {
    row-gap: 72px;
    column-gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}
.clients-item {
  width: 190px;
  height: 88px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 168px;
  }
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-hoverfa-color);
  border-color: var(--accent-hoverfa-color);
}
.clients-icon {
  fill: currentColor;
}
/*================================FOOTER===================================== */
.holder {
  background: var(--main-title-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .holder {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .container-holder {
    display: block;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .container-holder {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .container-holder {
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 0;
    justify-content: end;
  }
}

@media screen and (max-width: 767px) {
  .page-footer-holder {
    width: 268px;
    margin: 0 auto;
  }
}
.page-footer-holder {
  width: 264px;
}
@media screen and (max-width: 767px) {
  .holder-logo-link {
    text-align: center;
    margin-bottom: 17.5px;
  }
}
.holder-logo-link {
  display: block;
  color: var(--phon-special-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding: 0;
}
.holder-text {
  font-weight: 400;
  color: var(--additional-color);
  margin-bottom: 0;
  width: 264px;
}
/* =================================ICON FOOTER======================================  */

.holder-container-icons {
  display: block;
  margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .holder-container-icons {
    display: block;
    margin-top: 0;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .holder-container-icons {
    margin-left: 120px;
  }
}
.holder-icon-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--phon-white-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .holder-icon-subtitle {
    text-align: start;
  }
}

.holder-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
  justify-content: center;
}
.holder-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff10;
  fill: var(--phon-special-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.holder-link:hover,
.holder-link:focus {
  fill: var(--phon-white-color);
  background-color: #31d0aa;
}
/* ===================FORM FOOTER==================  */

@media screen and (max-width: 1199px) {
  .form-footer {
    margin-top: 72px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .form-footer {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 80px;
    align-items: flex-end;
  }
}
.input-footer {
  display: block;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  width: 100%;
  height: 40px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .input-footer {
    width: 264px;
  }
}
.input-footer:hover,
.input-footer:focus {
  border-color: var(--accent-hoverfa-color);
  outline: none;
}
.holder-icon-subtitle {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .form-footer-paragraph {
    text-align: start;
  }
}
@media screen and (max-width: 767px) {
  .form-container-footer {
    text-align: center;
  }
}

/* .form-container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .place-input-footer {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
} */
.exclusiv-btnform {
  position: relative;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .exclusiv-btnform {
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .exclusiv-btnform {
    margin-left: 24px;
  }
}
.butticon-footer {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.butticon-footer {
  fill: var(--phon-white-color);
}
/* ==========================================PORTFOLIO===================================== 
/* HEADER IN STUDIO */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 110px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-button {
  border: 1px solid var(--additional-color);
  border-radius: 4px;
  transition-property: background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-hoverfa-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-hoverfa-color);
}
.modal-button:active {
  background-color: var(--accent-hoverfa-color);
}

.button-text {
  font-family: inherit;
  font-weight: 500;
  color: var(--ocean-color);
  padding: 12px 24px;
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:hover,
.button-text:focus {
  color: var(--phon-white-color);
}
.images-link-picture {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.images-link-picture:hover,
.images-link-picture:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.subject-text-container {
  background: var(--phon-white-color);
  border: 1px solid var(--additional-color);
  border-top: none;
  padding: 32px 16px;
}
.images-subject {
  width: 290px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}
.images-text {
  color: var(--main-color);
}

.subject-images-description {
  position: relative;
  overflow: hidden;
}
.subject-text-description {
  position: absolute;
  padding: 40px 32px 164px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ocean-color);
  color: var(--phon-special-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description:hover .subject-text-description,
.description:focus .subject-text-description {
  transform: translateY(0);
}
/* FOOTER IN STUDIO */
/* ==============================PORTFOLIOFLEX=====================  */
.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.images {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.images-subject {
  margin-bottom: 8px;
}
